/*
* @Author: jyt
* @Date:   2017-07-12 08:53:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-17 19:00:08
*/
/*发布需求-描述类别*/
body{
	font-family: "微软雅黑";
}
.clear{
	clear: both;
}
.jyt_content{
	width: 100%;
	background: #f8f3f7;
	padding-bottom: 50px;
}
.publish{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.jyt_publishtop{
	position: relative;
	padding-top: 35px;
	height: 100px;
}
.jty_tit{
	overflow: hidden;
}
.jty_tit p{
	font-size: 14px;
	color: #999999;
	float: left;
}
.jty_tit .p1{
	padding-left: 120px;
}
.jty_tit .p2{
	padding-left: 235px;
}
.jty_tit .p3{
	padding-left: 185px;
}
.jty_tit .p4{
	padding-left: 185px;
}
.jty_tit p.jyt_pcol{
	color: #3c8fed;
}
.genreyes{
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 31px;
	color: #fff;
	background: #3c8fed;
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	top: 60px;
}
.genreno{
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 31px;
	background: #f7f3f7;
	color: #9c9a9d;
	border: 2px solid #9c9a9d;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	z-index: 3;
	top: 60px;
}
.jyt_genreyes1{
	left: 130px;
}
.jyt_genreyes2{
	left: 420px;
}
.jyt_genreyes3{
	left: 716px;
}
.jyt_genreyes4{
	left: 1020px;
}
.jyt_hui{
	width: 100%;
	height: 2px;
	background-color: #9c9a9d;
	position: absolute;
	top: 75px;
}
.jty_blue{
	height: 2px;
	background-color: #3c8fed;
}
.wid1{
	width: 255px;
}
.jyt_publishcon{
	background: #ffffff;
	border: 1px solid #e2e2e2;
	width: 100%;
	min-height: 488px;
	overflow:hidden; 
	position: relative;
}
.jyt_publishconl{
	float: left;
	border-right: 1px solid #e2e2e2;
	width: 268px;
	min-height: 488px;
}
.jyt_publishconr{
	float: right;
}
.jyt_tab1{

}
.jyt_tab1 li{
	overflow: hidden;
	line-height: 45px;
	height: 45px;
	font-size: 18px;
	color: #5a5d5a;
	border-bottom: 1px solid #e2e2e2;
	cursor: pointer;
}
.jyt_tab1 li.jyt_cli1{
	color: #fff;
	background: #3c8fed;
}
.jyt_tab1 li:hover{
	color: #fff;
	background: #3c8fed;
}
.jyt_tab1 li p{
	float: left;
	padding-left: 25px;
}
.jyt_tab1 li span{
	float: right;
	display: block;
	font-family: "宋体";
	padding-right: 20px;
}
.jyt_categoryxq{
	overflow:hidden; 
	width: 920px;
	display: none;
	padding-top: 10px;
}
.jyt_xian{
	display: block;
}
.jyt_categoryxq li{
	float: left;
	color: #5a5d5a;
	font-size: 16px;
	margin: 0 20px;
	line-height: 30px;
	cursor: pointer;
}
.jyt_categoryxq li.jyt_cli2{
	color: #3c8fed;
}
.jyt_publishnext{
	position: absolute;
	bottom: 45px;
	left: 660px;
	color: #fff;
	background: #3c8fed;
	font-size: 16px;
	width: 85px;
	line-height: 35px;
	height: 35px;
	border-radius: 5px;
}
/*3发布需求-描述需求*/
.wid2{
	width: 580px;
}
.jyt_requirementtit{
	width: 1168px;
	margin: 0 auto;
	border-bottom: 1px solid #e2e2e2;
}
.jyt_requirementtit p{
	padding-left: 195px;
	font-size: 20px;
	color: #313031;
	padding-top: 40px;
	padding-bottom: 20px;
	font-weight: bold;
}
.jyt_requirementul{
	width: 775px;
	margin: 0 auto;
	padding-top: 20px;
}
.jyt_requirementul li{
	display: block;
	padding-bottom: 35px;
}
.jyt_requirementul li p{
	float: left;
	text-align: right;
	width: 160px;
	margin-right: 10px;
	line-height: 35px;
	height: 35px;
	color: #333333;
	font-size: 16px;
}
.jyt_requirementul li h5{
	float: left;
	font-weight: normal;
	font-size: 16px;
	color: #333;
	line-height: 35px;
	height: 35px;
	margin-left: 10px;
}
.jyt_requirementul li input{
	line-height: 35px;
	height: 35px;
	padding: 0 10px;
	float: left;
	border: 1px solid #e7e3e7;
	font-size: 16px;

}
.jyt_requirementul li textarea{
	line-height: 35px;
	padding: 0 10px;
	float: left;
	border: 1px solid #e7e3e7;
	font-size: 16px;
	width: 500px;
	height: 180px;
	resize: none;
}
.jyt_requirementul li h6{
	font-weight: normal;
	font-size: 16px;
	color: #333;
	line-height: 35px;
	height: 35px;
	margin-left: 170px;
	background: url('../images/jyt_inp2.jpg') no-repeat left center;
	padding-left: 30px;
}
.jyt_inp1{
	width: 375px;	
}
.jyt_inp2{
	width: 100px;
}
.jyt_requirementul li h3{
	font-weight: normal;
	font-size: 16px;
	color: #333;
	float: left;
	line-height: 35px;
	height: 35px;
	padding: 0 15px;
}
.jyt_inpbg{
	background: url('../images/jyt_inp1.jpg') no-repeat 10px center;
	padding-left: 30px!important;
}
.jyt_requirementprev{
	color: #3c8fed;
	border: 1px solid #3c8fed;
	font-size: 16px;
	width: 85px;
	line-height: 35px;
	height: 35px;
	border-radius: 5px;
	margin-right: 25px;
	margin-left: 495px;
}
.jyt_requirementnext{
	color: #fff;
	background: #3c8fed;
	font-size: 16px;
	width: 85px;
	line-height: 35px;
	height: 35px;
	border-radius: 5px;
}
.wid3{
	width: 880px;
}
.jyt_box1{
	padding-bottom: 50px;
}
.jyt_confirm{
	color: #fff;
	background: #3c8fed;
	font-size: 16px;
	width: 150px;
	line-height: 35px;
	height: 35px;
	border-radius: 5px;
}
.wid4{
	width: 100%;
}
.jyt_pubsuccess{
	overflow:hidden; 
	margin-left: 280px;
	margin-top: 130px;
}
.jyt_pubsuccess img{
	display: block;
	float: left;
}
.jyt_pubsuccess .jyt_pubsuccessxq{
	float: left;
	padding-left: 20px;
}
.jyt_pubsuccessxq p{
	font-size: 24px;
	color: #009a63;
}
.jyt_pubsuccessxq h5{
	font-size: 18px;
	color: #727272;
	font-weight: normal;
}
.jyt_mar{
	margin-left: 360px;
	margin-top: 30px;
}
/*我要开店-企业认证*/
.jyt_requirementtit h5{
	font-size: 20px;
	color: #313031;
	padding-top: 40px;
	padding-bottom: 20px;
	font-weight: bold;
	font-weight: normal;
	font-size: 16px;
}
.jyt_file{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	border: 0;
}
.jyt_openstoreul{
	width: 500px;
	margin: 0 auto;
	padding-top: 65px;
}
.jyt_openstoreul li{
	overflow:hidden; 
	line-height: 30px;
	padding-bottom: 23px;
}
.jyt_openstoreul li p{
	float: left;
	font-size: 16px;
	text-align: left;
	width: 100px;
}
.jyt_openstoreul li p span{
	color: #f00;
}
.jyt_openstoreul li input.jyt_inp3{
	border: 1px solid #808080;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	width: 245px;
}
.jyt_openstoreul li button{
	float: left;
	height: 30px;
	line-height: 30px;
	color: #666666;
	font-size: 15px;
	width: 68px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #f5f5f5;
	margin-left: 18px;
}
.jyt_openstoreul li h1{
	color: #666666;
	font-size: 13px;
	font-weight: normal;
	padding-left: 100px;
}
.jyt_openstoreul li textarea{
	border: 1px solid #808080;
	float: left;
	height: 75px;
	line-height: 24px;
	padding: 0 10px;
	width: 350px;
}
.jyt_mar1{
	margin-top: 35px;
	margin-left: 450px;
	margin-bottom: 65px;
}
/*审核*/
.jyt_audting{
	overflow:hidden; 
	margin-left: 280px;
	margin-top: 130px;
}
.jyt_audting img{
	display: block;
	float: left;
}
.jyt_audting .jyt_audtingxq{
	float: left;
	padding-left: 20px;
}
.jyt_audtingxq p{
	font-size: 24px;
	color: #444444;
}
.jyt_audtingxq h5{
	font-size: 18px;
	color: #727272;
	font-weight: normal;
}
.jyt_backindex{
	display: block;
	color: #3c8fed;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 360px;
}
/*交纳保证金*/
.jyt_money{
	font-style: normal;
	color: #ff910e;
	font-size: 16px;
}
.jyt_money span{
	color: #ff910e;
	font-size: 20px;
}
.jyt_paybox1{
	width: 1140px;
	margin: 0 auto;
	border: 1px solid #3b90ed;
	margin-top: 33px;
}
.jyt_wxtit{
	background: #f4f5f7;
	padding-left: 30px;
	overflow:hidden; 
	border-bottom: 1px solid #edebeb;
}
.jyt_wxtit img{
	display: block;
	padding: 15px 0;
	float: left;
}
.jyt_wxtit p{
	display: block;
	color: #333333;
	float: left;
	font-size: 18px;
	padding-top: 17px;
	padding-left: 15px;
}
.jyt_wxxq{
	overflow: hidden; 
}
.wxcodebox{
	width: 198px;
	height: 198px;
	border: 1px solid #eaeaea;
	float: left;
	margin-top: 55px;
	margin-left: 200px;
}
.wxcodebox1{
	background: #999999;
	width: 155px;
	height: 155px;
	margin: 21px;
}
.jyt_wxtrouble{
	background: url('../images/jyt_wxbg.jpg') no-repeat top left;
	width: 569px;
	height: 277px;
	margin: 20px 30px 20px 0;
	float: right;
}
.jyt_wxtrouble p{
	width: 200px;
	margin: 85px auto 25px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	line-height: 30px;
}
.jyt_wxtrouble h5{
	width: 200px;
	margin: 0 auto;
	font-weight: normal;
	color: #999999;
	font-size: 12px;
}
.jyt_wxtrouble h5 a{
	color: #dd2727;
}
.jyt_paybox2{
	width: 1140px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	margin-top: 33px;
}
.jyt_zfbxq{
	overflow:hidden;
	display: none;
}
.jyt_zfbtit{
	padding-left: 30px;
	overflow:hidden; 
	border-bottom: 1px solid #edebeb;
}
.jyt_zfbtit img{
	display: block;
	padding: 15px 0;
	float: left;
}
.jyt_zfbtit p{
	display: block;
	color: #333333;
	float: left;
	font-size: 16px;
	padding-top: 17px;
	padding-left: 15px;
}
.jyt_paybox3{
	width: 1140px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	margin-top: 33px;
	margin-bottom: 60px;
}
.jyt_yue{
	color: #333333;
}
.jyt_yuexq{
	overflow: hidden; 
	padding: 18px 0;
}
.jyt_pwd{
	float: left;
	margin-left: 78px;
	overflow: hidden;
	line-height: 33px;
}
.jyt_pwd p{
	float: left;
	color: #333333;
	font-size: 18px;
	padding-right: 18px;
}
.jyt_pwd input{
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid #e6e6e6;
	width: 198px;
}
.jyt_pwd a{
	float: left;
	color: #3c8fed;
	padding-left: 15px;
	font-size: 14px;
	text-decoration: underline;
}
.jyt_paysub{
	color: #fff;
	background: #3c8fed;
	width: 130px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	float: right;
	margin-right: 30px;
	border-radius: 7px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.jyt_pubsuccessxq h5 span{
	font-size: 18px;
	color: #999999;
}
.jyt_modelbox{
	margin-left: 360px;
	margin-top: 35px;
	overflow: hidden;
}
.jyt_model{
	float: left;
	margin-right: 40px;
}
.jyt_model img{
	display: block;
	margin-bottom: 20px;
	width: 100px;
	height: 140px;
	cursor: pointer;
}
.jyt_modelsel{
	width: 24px;
	height: 24px;
	margin: 0 auto;
	cursor: pointer;
}
.jyt_modelno{
	background: url('../images/jyt_modelno.jpg') no-repeat top left;
}
.jyt_modelyes{
	background: url('../images/jyt_modelyes.jpg') no-repeat top left;
}
.jyt_bigimg{
	position: fixed;
	z-index: 10000;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	height: 100vh;
}
.jyt_bigimg img{
	width: 70%;
	display: block;
	margin: 0 auto;
	height: auto;
}
.jyt_close{
	position: fixed;
	top: 20px;
	right: 40px;
	display: block;
	cursor: pointer;
}
.jyt_close img{
	display: block;
}
/*支付*/
.jyt_paytit{
	width: 1168px;
	margin: 0 auto;
	border-bottom: 1px solid #e2e2e2;
	padding: 20px 0;
}
.jyt_goodsname{
	font-size: 18px;
	color: #333333;
	padding: 20px 0; 
}
.jyt_nickname{
	font-size: 14px;
	color: #666666;
	padding-bottom: 20px;
}
.jyt_paysuccesscon{
	background: #fff;
}
.jyt_paysuccess{
	width: 1200px;
	margin: 0 auto;
}
.jyt_payxq{
	padding-top: 45px;
}
.jyt_payxqtit{
	background: #ebffdc;
	overflow: hidden;
	padding: 18px 0;
}
.jyt_payxqtit img{
	display: block;
	float: left;
	margin: 0 15px 0 35px ;
}
.jyt_payxqtit p{
	float: left;
	color: #040404;
	font-size: 20px;
	padding-top: 5px;
}
.jyt_orderbox{}
.jyt_orderbox ul{
	border-bottom: 1px dashed #e6e6e6;
	width: 1115px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 20px;
}
.jyt_orderbox ul li{
	overflow: hidden;
	padding-bottom: 7px;
	background: url('../images/jyt_lidotted.jpg') no-repeat 43px 9px;
	padding-left: 45px;
}
.jyt_orderbox ul li p{
	float: left;
	font-size: 14px;
	color: #262525;
	text-align: right;
	width: 80px;
}
.jyt_orderbox ul li h6{
	float: left;
	font-weight: normal;
	font-size: 16px;
	color: #cf010a;
}
.jyt_orderbox ul li h5{
	float: left;
	font-weight: normal;
	font-size: 14px;
	color: #707070;
}
.jyt_btnbox{
	overflow: hidden; 
	margin: 30px 0 60px 90px;
}
.jyt_btnbox button{
	float: left;
	margin-right: 7px;
	border-radius: 4px;
	width: 105px;
	height: 26px;
	line-height: 22px;
	font-size: 14px;
}
.jyt_goorder{
	background: #3c8fed;
	color: #fff;
}
.jyt_backauxiliary{
	color: #3c8fed;
	border: 1px solid #3c8fed;
}
.jyt_look{
	color: #353535;
	font-size: 20px;
	padding-left: 10px;
	padding-bottom: 30px; 
}
.jyt_goodslist{
	overflow: hidden;
}
.jyt_goodslist li{
	display: block;
	padding: 20px 20px 10px 20px;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	width: 280px;
	float: left;
	margin: 0 10px;
	margin-bottom: 28px;
}
.jyt_goodslist li a{
	display: block;
} 
.jyt_goodslist li img{
	display: block;
	width: 238px;
	height: 243px;
}
.jyt_goodslist li h5{
	font-weight: normal;
	color: #ff910e;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.jyt_goodslist li p{
	color: #333333;
	font-size: 14px;
	height: 70px;
	overflow: auto;
}

.jyt_goodslist li h3{
	font-weight: normal;
	color: #666666;
	font-size: 14px;
	float: left;
	background: url('../images/jyt_goodsbg1.jpg') no-repeat left 4px;
	padding-left: 15px;
	width: 130px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.jyt_goodslist li h4{
	font-weight: normal;
	color: #666666;
	font-size: 14px;
	float: right;
}
.jyt_teamtain{
	width: 1200px;
	margin: 0 auto;
}
/*团队培训*/
.jyt_teamtit{
	color: #444444;
	font-size: 22px;
	text-align: center;
	padding: 50px 0;
}
.jyt_teamtain{
	background: #fff;
	min-height: 620px;
}
.jyt_teamtop{
	border-bottom: 2px solid #efefef; 
	color: #444444;
	font-size: 16px;
	margin: 20px;
	padding: 15px 0;
}
.jyt_teamcontit{
	padding-top: 10px;
	overflow: hidden;
	height: 48px;
	line-height: 43px;
	padding-left: 60px
}
.jyt_teamcontit p{
	float: left;
}
.jyt_tainclass{
	float: left;
	overflow: hidden;
}
.jyt_tainclass li{
	float: left;
	width: 133px;
	height: 48px;
	text-align: center;
	margin: 0 10px;
	cursor: pointer;
}
.jyt_tainclass li.jyt_clibg{
	background: url('../images/jyt_teambg.jpg') no-repeat top left;
	color: #fff;
}
.jyt_form{
	background: #f7f7f7;
	width: 1015px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-top: 2px solid #3c8fed;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 23px;
	padding-left: 42px;
	padding-right: 23px;
	padding-top: 20px;
}
.jyt_taintit{
	float: left;
	color: #000000;
	font-size: 20px;
}
.jyt_tainendtim{
	float: right;
	color: #909090;
	font-size: 14px;
}
.jyt_tainendtim{
	color: #606060;
}
.jyt_tainstarttime{
	color: #909090;
	font-size: 14px;
	padding-top: 15px;
}
.jyt_tainstarttime span{
	color: #606060;
}
.jyt_formul{
	padding-top: 35px;
}
.jyt_formul li{
	overflow: hidden;
	line-height: 30px;
	font-size: 14px;
	padding-bottom: 20px;
}
.jyt_formul li p{
	float: left;
	padding-right: 25px;
}
.jyt_formul li input{
	float: left;
	padding: 0 10px 0 25px;
	border: 1px solid #e6e6e6;
	line-height: 30px;
	height: 30px;
	width: 190px;
}
.jyt_btnbox1{
	overflow: hidden; 
	margin: 30px 0 60px 90px;
}
.jyt_btnbox1 button{
	float: left;
	margin-right: 7px;
	border-radius: 4px;
	width: 133px;
	height: 43px;
	line-height: 40px;
	font-size: 14px;
}
.jyt_subsuccess{
	overflow:hidden; 
	margin-top: 100px;
}
.jyt_subsuccess img{
	display: block;
	float: left;
}
.jyt_subsuccess .jyt_subsuccessxq{
	float: left;
	padding-left: 20px;
}
.jyt_subsuccessxq p{
	font-size: 24px;
	color: #009a63;
}
.jyt_subsuccessxq h5{
	font-size: 18px;
	color: #727272;
	font-weight: normal;
}
/*品牌商-我的信息-基础信息*/
.jyt_myinfo{
	background: #fff;
	margin: 20px 0;
}
.jyt_myinfobox{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;

}
.jyt_myinfoL{
	float: left;
	overflow: hidden;
	background: #f5f5f5;
	width: 230px;
	border-right: 1px solid #e6e6e6;
	height: 698px;
}
.jyt_myinfoR{
	float: left;
	min-height: 698px;
	height: auto;
}
.jyt_myinfoRtit{
	padding-top: 30px;
	padding-left: 38px;
	overflow: hidden;
	padding-bottom: 65px;
}
.jyt_myinfoRtit li{
	font-size: 16px;
	margin-right: 40px;
	float: left;
	cursor: pointer;
}
.jyt_myinfoRtit li.jyt_cli3{
	border-bottom: 3px solid #3c8fed;
	color: #3c8fed;
	padding-bottom: 3px;
}
.jyt_myinfoRxq{
	display: none;
	padding-bottom: 10px;
}
.jyt_myinfoRxqul{
	padding-left: 84px;
}
.jyt_myinfoRxqul li{
	margin-bottom: 30px;
	line-height: 30px;
}
.jyt_myinfoRxqul li p{
	float: left;
	font-size: 16px;
	color: #666666;
	width: 85px;
}
.jyt_myinfoRxqul li .jyt_libox234{
	float: right;
}
.jyt_myinfoRxqul li .jyt_libox234 img{
	display: block;
	width: 101px;
	height: 101px;
	border: 3px solid #cccccc;
}
.jyt_myinfoRxqul li .jyt_libox234 input{
	color: #666666;
	font-size: 15px;
	background: #f5f5f5;
	border: 1px solid #666666;
	border-radius: 2px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	margin: 10px 0;
}
.jyt_myinfoRxqul li .jyt_libox234 h1{
	color: #666666;
	font-size: 13px;
	font-weight: normal;
}
.jyt_myinfoRxqul li i{
	float: left;
	display: block;
	font-style: normal;
	color: #ca2323;
}
.jyt_myinfoRxqul li h6{
	font-weight: normal;
	font-size: 16px;
	color: #666666;
}
.inpwid{
	border: 1px solid #808080;
	width: 135px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.jyt_myinfoRxqul li label{
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.jyt_myinfoRxqul li label input{
	margin-right: 10px;
}
.jyt_sub{
	margin-left: 100px;
	color: #666666;
	font-size: 15px;
	background: #f0f9ea;
	border-radius: 4px;
	border: #a2bb92;
	width: 68px;
	height: 38px;
	line-height: 30px;
	cursor: pointer;
}
.jyt_bindbox{
	width: 918px;
	margin: 0 auto;
	border: 1px solid #bebcbf;
	margin-top: 33px;
	margin-left: 38px; 
}
.jyt_wxxq{
	overflow: hidden; 
}
.wxcodebox{
	width: 198px;
	height: 198px;
	border: 1px solid #eaeaea;
	float: left;
	margin-top: 30px;
	margin-left: 130px;
}
.wxcodebox1{
	background: #999999;
	width: 155px;
	height: 155px;
	margin: 21px;
}
.jyt_wxtrouble{
	background: url('../images/jyt_wxbg.jpg') no-repeat center left;
	width: 459px;
	height: 223px;
	margin: 20px 30px 20px 0;
	float: right;
}
.jyt_wxtrouble p{
	width: 200px;
	margin: 85px auto 25px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	line-height: 30px;
}
.jyt_wxtrouble h6{
	margin: 0 auto;
	font-weight: normal;
	color: #dd2727;
	font-size: 12px;
	width: 200px;
	text-align: center;
}
.jyt_yzm{
	float: right;
	overflow: hidden;
}
.jyt_yzm{
	float: left;
	margin-left: 78px;
	overflow: hidden;
	line-height: 33px;
}
.jyt_yzm p{
	float: left;
	color: #333333;
	font-size: 18px;
	padding-right: 18px;
}
.jyt_yzm input.jyt_yzmbox{
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid #e6e6e6;
	width: 198px;
}
.jyt_yzm input.jyt_yzmbtn{
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 15px;
	color: #666666;
	background: #f0f9ea;
	border: 1px solid #a2bb92;
	width: 118px;
	margin-left: 10px;
	border-radius: 5px;
}
.jyt_combind{
	color: #fff;
	background: #3c8fed;
	width: 130px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border-radius: 7px;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-top: 20px;
	margin-left: 395px;
}
/*我的订单*/
.jyt_myOrder{
	padding-left: 20px;
	display: none;
}
.jyt_myOrdertit{
	overflow: hidden;
	width: 928px;
	background: #f5f5f5;
	margin: 0 auto;
	margin-bottom: 20px;
}
.jyt_myOrdertit li{
	float: left;
	height: 45px;
	line-height: 45px;
	color: #666666;
	font-size: 16px;
}
.jyt_pad1{
	padding-right: 265px;
	padding-left: 20px;
}
.jyt_pad2{
	padding-right: 63px;
}
.jyt_pad3{
	padding-right: 80px;
}
.jyt_pad4{
	padding-right: 75px;
}
.jyt_pad5{
	padding-right: 75px;
}
.jyt_myOrderxq{
	overflow: hidden;
	width: 928px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	margin-top: 10px;
}
.jyt_myOrderxqtit{
	background: #f5f5f5;
	overflow: hidden;
	padding-left: 20px;
	line-height: 35px;
	height: 35px;
	width: 100%;
}
.jyt_myOrderxqtit p{
	float: left;
	font-size: 16px;
	color: #999999;
	padding-right: 35px;
}
.jyt_myOrderxqtit p span{
	color: #4c4c4c;
}
.jyt_myOrderxqtit h6{
	float: left;
	font-weight: normal;
	color: #333333;
	font-size: 14px;
}
.jyt_goosxq1box{
	float: left;
}
.jyt_goosxq1{
	margin-top: -1px;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #f5f5f5;
	overflow: hidden;
	width: 412px;
}
.jyt_myOrderxq li{
	float: left;
	height: 100%;
}
.jyt_goosxq1 img{
	float: left;
	width: 62px;
	height: 65px;
	display: block;
	border: 1px solid #d9d9d9;
	margin: 20px;
}
.jyt_goosxq1 a{
	float: left;
	padding-top: 35px;
	width: 250px;
	font-size: 15px;
	color: #4c4c4c;
}
.jyt_goosxq1 a:hover{
	text-decoration: underline;
	color:  #3c8fed;
}
.jyt_goosxq1 i{
	float: right;
	display: block;
	padding-top: 35px;
	margin-right: 38px;
	color: #999999;
	font-size: 14px;
	font-style: normal;
}
.jyt_goosxq2{
	height: 100%;
	border-right: 1px solid #f5f5f5;
}
.jyt_goosxq2 p{
	width: 118px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	padding-top: 35px;
}
.jyt_goosxq2 h6{
	width: 118px;
	text-align: center;
	color: #ff9661;
	font-size: 14px;
	padding-top: 35px;
}
.jyt_goosxq2 a{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 14px;
	padding-top: 15px;
}
.jyt_goosxq2 a:hover{
	text-decoration: underline;
	color:  #3c8fed;
}
.jyt_goosxq3{
	width: 128px;
}
.jyt_goosxq3 button{
	margin: 0 auto;
	display: block;
	width: 83px;
	height: 23px;
	line-height: 20px;
	background: #f5f5f5;
	color: #cf4242;
	border: 1px solid #cf4242;
	border-radius: 5px;
	margin-top: 35px;
	cursor: pointer;
}
.jyt_goosxq3 p{
	font-size: 14px;
	color: #666666;
	text-align: center;
	padding-top: 15px;
}
.jyt_orderR{
	width: 969px;
	overflow-y: scroll;
	height: 698px;
}
/*订单详情*/
.jyt_logistics{
	width: 969px;
	border-bottom: 1px solid #eaeaea;
}
.jyt_logistics p{
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 398px;
	color: #333333;
	font-size: 14px;
}
.jyt_logistics h6{
	width: 280px;
	font-weight: normal;
	padding-bottom: 20px;
	float: left;
	color: #333333;
	font-size: 14px;
}
.jyt_logistics h5{
	font-weight: normal;
	padding-bottom: 20px;
	float: left;
	color: #333333;
	font-size: 14px;
}
.jyt_logistics h1{
	padding-left: 20px;
	font-weight: normal;
	font-size: 18px;
	color: #333333;
	padding-top: 20px;
}
.jyt_logistics ul{
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.jyt_logistics ul li{
	padding-bottom: 15px;
} 
.jyt_logistics ul li h4{
	font-weight: normal;
	font-size: 14px;
	color: #666666;
} 
.jyt_logistics ul li h4 span{
	color: #333333;
} 