.header {
	height: 221px;
	background: #3c8fed;
}


/*需求大厅*/
.kll-center_box {
	width: 1200px;
	margin: 0 auto;
}

.kll-need_type {
	margin-top: 20px;
	width: 1198px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	overflow: hidden;
}

.kll-need_type>.kll-need_list {
	border-bottom: 1px solid #E6E6E6;
	cursor: pointer;
	line-height: 39px;
	font-size: 14px;
	overflow: hidden;
	display: none;
}

.kll-need_type>.kll-need_list_one {
	display: block;
}

.kll-need_type>.kll-need_list_one .kll-need_class {
	background: #f5f5f7;
}


.kll-need_list_one .kll-need_class .kll-need_img {
	vertical-align: middle;
	padding-left: 5px;
}

.kll-need_type>.kll-need_list .kll-need_class {
	border-right: 1px solid #e6e6e6;
	width: 128px;
	height: 39px;
	float: left;
	text-align: center;
}

.kll-need_type>.kll-need_list .kll-need_class:active {
	color: #007AFF;
}

.kll-need_type>.kll-need_list .kll-need_classul {
	float: left; 
	width: 1060px;
	overflow: hidden;
}

.kll-need_list .kll-need_classul .kll-need_list {
	float: left;
	width: 128px;
	height: 39px;
	text-align: center;
}

.kll-need_list .kll-need_classul .kll-need_list_change {
	color: #007AFF;
}

.kll-need_list>.kll-need_classul .kll-need_list:hover {
	color: #ff9524;
}


.kll-center_box>.kll-need_change {
	margin-top: 87px;
	position: relative;
}

.kll-need_change>.kll-need_p {
	position: absolute;
	top: -46px;
	height: 45px;
	line-height: 45px;
	width: 135px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
	background: #f5f5f7;
	cursor: pointer;
}

.kll-need_change>.kll-need_pone {
	left: 0;
	border-left: 1px solid #e6e6e6;
}

.kll-need_change>.kll-need_ptwo {
	left: 136px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.kll-need_change>.kll-need_pchange {
	background: #fff;
	height: 46px;
}

.kll-need_change>.kll-need_ul {
	border: 1px solid #E6E6E6;
	height: 45px;
}

.kll-need_change>.kll-need_ul .kll-need_list {
	float: left;
	line-height: 45px;
	height: 45px;
	padding: 0 0 0 20px;
	cursor: pointer;
}

.kll-need_change>.kll-need_ul .kll-need_listchange {
	color: #3c8fed;
}

.kll-need_ul .kll-need_list .kll-need_span:hover {
	font-size: 17px;
	display: inline-block;
}

.kll-need_ul .kll-need_list .kll-need_input {
	width: 62px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #E6E6E6;
	padding-left: 5px;
}

.kll-need_ul .kll-need_list .kll-need_ok {
	width: 54px;
	line-height: 24px;
	background: #f5f5f7;
	border: 1px solid #E6E6E6;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
}

.kll-need_change>.kll-need_ul .kll-need_site {
	float: right;
	margin-right: 30px;
	line-height: 24px;
	width: 92px;
	border: 1px solid #E6E6E6;
	color: #333;
	height: 24px;
	margin-top: 10px;
	text-align: center;
	padding: 0;
	font-size: 14px;
	position: relative;
}

.kll-need_ul .kll-need_site .kll-need_b {
	vertical-align: middle;
	font-weight: normal;
	padding-right: 5px;
}

.kll-need_ul .kll-need_site .kll-need_img {
	vertical-align: middle;
}

.kll-need_ul .kll-need_site .kll-need_out {
	position: absolute;
	top: 25px;
	left: -250px;
	width: 340px;
	height: 149px;
	padding: 20px;
	background: url("../images/need_bg.png");
	display: none;
}

.kll-need_site .kll-need_out .kll-need_h4 {
	font-weight: 700;
	font-size: 14px;
	border-bottom: 2px solid #3c8fed;
	text-align: left;
	line-height: 20px;
}

 .kll-need_out .kll-need_siteul .kll-need_siteli {
	float: left;
	width: 80px;
	padding-top: 10px;
	font-size: 14px;
	color: #333;
	text-align: left;
}

.kll-need_clear {
	clear: both;
}

.kll-need_box {
	padding-bottom: 20px;
	overflow: hidden;
	display: none;
}

.kll-need_boxchagne {
	display: block;
}

.kll-need_box .kll-need_boxnone {
	text-align: center;
	line-height: 240px;
}

.kll-need_box .kll-need_boxnall {
	color: #3c8fed;
}

.kll-need_show .kll-need_showli {
	width: 1140px;
	border: 1px solid #e6e6e6;
	background: #fff;
	margin-top: 20px;
	overflow: hidden;
	height: 66px;
	padding: 12px 29px 12px 29px;
}

.kll-need_show .kll-need_showli:hover {
	border: 1px solid #3c8fed;
	background: #f5f9ff;
}

.kll-need_showli .kll-need_showimg {
	display: block;
	float: left;
	width: 69px;
	height: 66px;
	border-radius: 50%;
}

.kll-need_showli .kll-need_showbox {
	float: left;
	padding-left: 31px;
	width: 305px;
}

.kll-need_showbox .kll-need_showtitle {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-size: 14px;
	padding-top: 10px;
}

.kll-need_showbox .kll-need_showtitle:hover {
	text-decoration: underline;
}

.kll-need_showbox .kll-need_showtitle:hover .kll-need_showtag {
	text-decoration: none;
}

.kll-need_showbox .kll-need_showtitle .kll-need_showtag {
	font-size: 12px;
	color: #fff;
	background: #ff6600;
	display: inline-block;
	margin-right: 11px;
	padding: 0 3px;
	border-radius: 3px;
}

.kll-need_showbox .kll-need_showtime {
	padding-top: 15px;
	font-size: 12px;
	color: #333;
}

.kll-need_showbox .kll-need_showtimer {
	color: #5098ee;
}

.kll-need_showli .kll-need_showmoney {
	padding-left: 170px;
	line-height: 66px;
	font-size: 24px;
	color: #ff6600;
	float: left;
	font-weight: 700;
}

.kll-need_showli .kll-need_shownum {
	line-height: 66px;
	font-size: 14px;
	color: #adadad;
	padding-left: 160px;
	float: left;
} 

.kll-need_showli .kll-need_shownum .kll-need_show {
	color: #1e7cc4;
	font-size: 18px;
	padding-right: 5px;
}


.kll-need_showli .kll-need_showsite {
	line-height: 80px;
	font-size: 14px;
	color: #323232;
	float: right;
} 

.kll-need_page {
	float: right;
	padding-top: 40px;
}

.kll-need_page .kll-need_btn {
	width: 92px;
	line-height: 30px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	background: #3c8fed;
	cursor: pointer;
	margin-left: 10px;
}

.kll-need_page .kll-need_pageshow {
	display: inline-block;
	padding: 0 10px;
}

 .kll-need_page .kll-need_pageshow .kll-need_pagenum {
 	color: #7c7c7c;
 	display: inline-block;
 	line-height: 30px;
 	padding: 0 5px;
 	cursor: pointer;
 }
 
.kll-need_page .kll-need_pageshow .kll-need_pagenumshow {
 	color: #fff;
 	background: #39a9ff;
 }
 
.kll-need_page .kll-need_pagein {
 	width: 38px;
 	height: 28px;
 	border: 1px solid #3c8fed;
 	text-align: center;
 }

.kll-need_page .kll-need_btnok {
	background: #3c8fed;
	cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 63px;
	color: #fff;
}

/*需求详情*/
.kll-ns_top {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #f9f9f9;	
}

.kll-center_ns {
	padding-top: 20px;
}

.kll-ns_path {
	line-height: 50px;
	color: #a1a1a1;
}

.kll-ns_patha {
	color: #A1A1A1;
}

.kll-ns_details {
	padding-bottom: 20px;
}

.kll-ns_person {
	width: 281px;
	padding-left: 17px;
	float: right;
}

.kll-ns_persontop {
	width: 233px;
	height: 400px;
	border: 1px solid #e6e6e6;
	padding: 0 23px;
	text-align: center;
	color: #666;
}

.kll-ns_pstimg {
	width: 132px;
	height: 132px;
	display: block;
	border-radius: 50%;
	border: 1px solid #e9e9e9;
	margin: 34px auto 0;
}

.kll-ns_psname {
	line-height: 60px;
	font-size: 18px;
}

.kll-ns_pspoint {
	display: inline-block;
	width: 119px;
	height: 37px;
	border: 1px dashed #e6e6e6;
	line-height: 37px;
}

.kll-ns_psshow {
	border-top: 1px dashed #E6E6E6;
	padding-top: 20px;
	margin-top: 37px;
}

.kll-ns_psold {
	width: 118px;
	border-right: 1px solid #e6e6e6;
	font-size: 14px;
	line-height: 24px;
	float: left;
}

.kll-ns_psoldn {
	display: inline-block;
	width: 100%;
	line-height: 30px;
	font-size: 24px;
	color: #3c8fed;
}

.kll-ns_psok {
	float: right;
	width: 110px;
}

.kll-ns_psoimg {
	width: 33px;
	height: 28px;
}

.kll-ns_psocode {
	font-size: 14px;
	line-height: 24px;
}

.kll-ns_personcenter {
	height: 50px;
	line-height: 50px;
	background: #3c8fed;
	text-align: center;
	margin-top: 24px; 
	color: #fff;
	font-size: 20px;
	font-weight: normal;
}

.kll-ns_psphoneicon {
	vertical-align: middle;
}

.kll-ns_psphone {
	vertical-align: middle;
	padding-left: 15px;
}

.kll-ns_personbottom {
	margin-top: 28px;
	border: 1px solid #E6E6E6;
	text-align: center;
	height: 174px;
}

.kll-ns_personbtitle {
	font-size: 18px;
	line-height: 40px;
	padding-top: 14px;
}

.kll-ns_personbshow {
	font-size: 14px;
	color: #a1a1a1;
	line-height: 28px;
}

.kll-ns_personbgo {
	display: inline-block;
	width: 191px;
	height: 48px;
	line-height: 48px;
	background: #3c8fed;
	color: #fff;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 20px;
}


.kll-ns_detop {
	border: 1px solid #e6e6e6;
	padding: 24px 0 24px 20px;
	width: 880px;
	height: 352px;
}

.kll-ns_detitle {
	height: 77px;
	
}

.kll-ns_detitleimg {
	width: 62px;
	height: 62px;
	vertical-align: middle;
}

.kll-ns_detitlespan {
	display: inline-block;
	line-height: 77px;
	vertical-align: middle;
	font-size: 22px;
	color: #000;
	padding-left: 25px;
	width: 700px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.kll-ns_denewsp {
	line-height: 20px;
	padding: 10px 0;
	width: 100%;
	font-size: 14px;
}

.kll-ns_denewspan {
	display: inline-block;
	color: #999999;
	font-size: 14px;
	width: 77px;	
}

.kll-ns_denewsprice {
	color: #3c8fed;
	font-size: 24px;
	font-weight: 900;
}

.kll-ns_denewstime {
	font-size: 18px;
	color: #ff910e;
}

.kll-ns_debtn {
	width: 158px;
	height: 50px;
	color: #fff;
	background: #3c8fed;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 77px;
	border-radius: 3px;
}

.kll-ns_demiddle {
	margin-top: 22px;
	width: 100%;
	
}

.kll-ns_demul {
	width: 900px;
	height: 55px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
}

.kll-ns_demli {
	position: relative;
	height: 54px;
	float: left;
	width: 120px;
	line-height: 54px;
	text-align: center;
	font-size: 16px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	cursor: pointer;
}

.kll-ns_demli a {
	display: block;
}

.kll-ns_demli_change {
	margin-top: -1px;
	border-top: 2px solid #3c8fed;
	color: #3c8fed;
	background: #fff;
	height: 55px;
	margin-left: -1px;
}

.kll-ns_dembox {
	padding: 28px 20px;
	width: 860px;
}

.kll-ns_demshow {
	border-bottom: 1px dashed #e6e6e6;
	padding-bottom: 20px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}

.kll-ns_demtime {
	line-height: 60px;
	font-size: 12px;
	color: #999;
}

.kll-ns_debottom {
	width: 845px;
	padding-top: 20px;
}

.kll-ns_debnum {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	line-height: 40px;
	color: #3c8fed;
	font-size: 20px;
}

.kll-ns_denumspan {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 120px;
	height: 3px;
	background: #3c8fed;
}

.kll-ns_debul {
	height: 20px;
	padding: 25px 0;
}

.kll-ns_debul li {
	float: left;
}

.kll-ns_debli {
	width: 83px;
	text-align: center;
	color: #666;
	cursor: pointer;
}

.kll-ns_debli_change {
	color: #62a1ef;
}

.kll-ns_list {
	margin-left: 33px;
	margin-bottom: 43px;
	overflow: hidden;
}


.kll-nsltnone {
	width: 844px;
	border: 1px dashed #e6e6e6;
	height: 105px;
	line-height: 105px;
	text-align: center;
	font-size: 18px;
	color: #999;
}

.kll-nslt_ul {
	
}

.kll-nslt_li {
	border: 1px solid #e6e6e6;
	padding: 30px 60px 0 40px;
	margin-bottom: 20px;
	overflow: hidden;
}

.kll-nslt_header {
	width: 103px;
	height: 103px;
	border-radius: 50%;
	border: 1px dashed #E6E6E6;
	float: left;
}

.kll-nslt_dl {
	width: 910px;
	float: right;
}

.kll-nslt_dt {
	padding-bottom: 20px;
}

.kll-nslt_name {
	font-size: 20px;
	line-height: 60px;
	color: #333;
}

.kll-nslt_news {
	height: 16px;
	margin-bottom: 10px;
}

.kll-nslt_site {
	width: 10px;
	height: 12px;
	vertical-align: middle;
}

.kll-nslt_newsp {
	font-size: 12px;
	line-height: 12px;
}

.kll-nslt_newsok {
	height: 12px;
	vertical-align: middle;
}

.kll-nslt_start img {
	width: 15px;
	height: 15px;
}

.kll-nslt_eval {
	line-height: 26px;
	font-size: 15px;
}

.kll-nslt_timer {
	line-height: 60px;
	color: #999;
	font-size: 14px;
}
