/*
* @Author: Administrator
* @Date:   2017-07-11 17:27:19
* @Last Modified by:   鍒樿姵
* @Last Modified time: 2017-07-18 20:08:12
*/
.lf_jump{
	display:block;
	height:100%;
}
.lf_left{
	float:left;
}
.lf_right{
	float:right;
}
.lf_borderBox{
	-moz-box-sizing: border-box; /*Firefox3.5+*/ 
	-webkit-box-sizing: border-box; /*Safari3.2+*/ 
	-o-box-sizing: border-box; /*Opera9.6*/ 
	-ms-box-sizing: border-box; /*IE8*/ 
	box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
}
.lf_clearFloat:after{
	content:".";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.lf_displayFlex{
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Chrome */ 
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -moz-box-orient:horizontal;
    -moz-box-direction:reverse;
    -webkit-flex-direction:row;
    flex-direction:row;/* 元素排列方式 */
    -webkit-justify-content:space-around;
    -moz-box-pack:space-around;
    -webkit--moz-box-pack:space-around;
    box-pack:space-around;
    justify-content:space-around;
    -webkit-flex-wrap:wrap;
    -webkit-box-lines:multiple;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;/* 定义子元素换行情况 */
}
a{
    color:#333;
}
body{
    font-size:14px;
    color:#333;
}
select{
    background:0;
    border:0;
}
button{
    cursor:pointer;
}
/* 公共样式 */
/* 首页头部 */
.lf_indexNav>li{
    float:left;
    padding:23px 0;
    margin-left:34px;
}
.lf_indexNav>li img{
    display:block;
    width:29px;
    height:29px;
    margin:0 auto 2px;
}
.lf_indexNav>li span{
    display:block;
    text-align:center;
    font-size:14px;
    color:#999;
}
/* 首页-body */
.lf_banner{
    width:100%;
    background-color:#181e2a;
}
.lf_bannerWraper{
    width:1200px;
    margin:0 auto;
    height:420px;
    overflow:hidden;
}
.lf_bannerWraper img{
    display:block;
    width:100%;
}
/* 首页-免费发布及我要开店  */
.lf_indexnumDetail{
    width:100%;
    background-color: #363945;
    padding:20px 0;
}
.lf_indexnumDetailwrap{
    width:1200px;
    margin:0 auto;
}
.lf_indexnumDetailwrap>ul{
    width:920px;   
}
.lf_indexNumber{
    height:82px;
    line-height: 82px;
    overflow:hidden;
}
.lf_indexNumber>img{
    display:block;
    float:left;
    margin-top:26px;
}
.lf_indexNumber>span{
    display:block;
    float:left;
    font-weight:bolder;
    font-size:28px;
    color:#fff;
    padding-left:20px;
}
.lf_numdescript{
    font-size:14px;
    color:#fff;
    text-align: center;
}
.lf_indexBtns>button{
    display:block;
    width:210px;
    height:42px;
    color:#fff;
    border-radius:5px;
    font-size:18px;
}
.lf_indexBtns>button.lf_freeBtn{
    background-color:#3c8fed;
    margin-bottom:16px;
}
.lf_indexBtns>button.lf_openBtn{
    background-color:#ff910e;
}
/* 首页 商品列表 */
.lf_indexGoods{
    width:100%;
    background-color: #fff
}
.lf_indexGoodsbox{
    width:1200px;
    margin:0 auto;
    padding-top:20px;
}
.lf_indexGoodsbox-title{
    width:100%;
    border-bottom:3px solid #e6e6e6;
    height:60px;
    line-height: 60px
}
.lf_indexGoodsbox-title li{
    height:100%;
    border-bottom:3px solid #e6e6e6;
    float:left;
    position:relative;
    bottom:-3px;
    margin-right:74px;
    font-size:20px;
    color:#999;
    cursor:pointer;
}
.lf_indexGoodsbox-title .lf_indexListon{
    border-bottom:3px solid #3c8fed;
    color:#3c8fed;
}
.lf_indexGoodsbox-con{
    padding:20px 0 0;
}
.lf_indexGoodsbox-con .lf_indexGoodsCon{
    display:none;
}
.lf_indexGoodsbox-con .lf_indexGoodsCon-on{
    display:block;
}
.lf_indexGoodsCon li{
    float:left;
    width:280px;
    height:402px;
    border:1px solid #e6e6e6;
    background-color: #fff;
    padding:20px 20px 0;
    overflow:hidden;
    position:relative;
    margin-right:26px;
    margin-bottom:20px;
}
.lf_indexGoodsCon li:hover{
    border:1px solid #3c8fed;
    background-color: #f5f9ff;
}
.lf_indexGoodsCon li>.lf_jump{
    height:244px;
}
.lf_indexGoodsCon li>a>img{
    display:block;
    width:238px;
    height:242px;
    border:1px solid #e6e6e6;
}
.lf_indexGoodsDetail-title{
    padding:16px 0 6px;
}
.lf_indexGoodsDetail-title>h2{
    font-size:16px;
    color:#333333;
}
.lf_indexStar{
    width:94px;
    text-align-last: justify;
}
.lf_indexService{
    line-height:28px;
    font-size:14px;
}
.lf_indexService i{
     color:#999;
}
.lf_indexService span{
     color:#333;
     padding-left:10px;
}
.lf_indexConnect{
    display:block;
    position:absolute;
    bottom:20px;
    right:20px;
    width:58px;
    color:#fff;
    background-color: #3c8fed;
    border-radius:5px;
    padding:5px 0;
}
.lf_indexToshop{
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    width:278px;
    color:#fff;
    background-color: #3c8fed;
    border-radius:3px;
    font-size:16px;
    padding:6px 0;
}
/* 广告 */
.lf_indexAdv{
    width:1200px;
    padding:10px 0 30px;
    margin:0 auto;
}
.lf_indexAdv>ul>li{
    width:590px;
    position:relative;
}
.lf_indexAdv>ul>li img{
    display:block;
    width:590px;
    height:90px;
}
.lf_advbtn{
    display:block;
    position: absolute;
    right:2px;
    bottom:2px;
    padding:3px 8px;
    color:#fff;
    font-size:12px;
    background-color: #717481
}
/* 需求 */
.lf_demand{
    width:100%;
}
.lf_demandTitle{
    width:100%;
    height:84px;
    background:url("../images/lf_qbg.png") no-repeat center top;
}
.lf_demandTitlewrap{
    width:1200px;
    margin:0 auto;
    height:44px;
    padding:20px 0;
    background:url("../images/lf_qbg2.png") no-repeat center top;
}
.lf_demandTitlewrap>ul{
    height:44px;
    background:url("../images/lf_ulbg.png") no-repeat center top;
    line-height: 44px;
    overflow:hidden;
}
.lf_demandTitlewrap>ul>li{
    font-size:16px;
    color:#fff;
    float:left;
}
.lf_demandQ{
    padding-left:20px;
    margin-right:166px;
}
.lf_demandTitlewrap>ul>li.lf_demandA{
    font-size:14px;
    width:155px;
}
/* 热门需求 */
.lf_demandBox{
    background-color:#f1f1f1;
    width:100%;
}
.lf_demandBoxwrap{
    width:1200px;
    margin:0 auto;
}
.lf_demand-title{
    font-size:24px;
    height:96px;
    line-height: 96px;
    color:#333;
    text-align: center;
}
ul.lf_demand-content{
    -webkit-justify-content:space-between;
    -moz-box-pack:space-between;
    -webkit--moz-box-pack:space-between;
    box-pack:space-between;
    justify-content:space-between;
}
.lf_demand-content>li{
    width:390px;  
    margin-bottom: 20px;
}
.lf_demand-content>li>.lf_jump{
    border:1px solid #fff;
    width:100%;
    padding:24px 30px;
    background:#fff url("../images/lf_blueLine.png") no-repeat left 24px;
}
.lf_demand-content>li>.lf_jump:hover{
    background:#f5f9ff url("../images/lf_blueLine.png") no-repeat left 24px;
    border:1px solid #3c8fed;
}
.lf_demandCon-title{
    font-size: 16px;
    color:#333;
    height:20px;
    line-height:20px;
}
.lf_tender{
    height:60px;
    line-height: 60px;
    border-bottom:1px solid #e6e6e6;
}
.lf_tender>.lf_left{
    font-size: 14px;
    color:#de352f;
}
.lf_tender>.lf_left>span{
    font-size:18px;
}
.lf_tender>.lf_right{
    font-size:14px;
    color:#999;
}
.lf_demandSource{
    padding-top:20px;
}
.lf_demandSource>img{
    display:block;
    float:left;
    height:38px;
    width:38px;
    border:1px solid #e6e6e6;
}
.lf_demandShop{
    height:40px;
    line-height: 40px;
    font-size: 14px;
    color:#999;
    padding-left:20px;
}
.lf_demandShop>span{
    color:#333;
}
.lf_demandAddress{
    font-size:14px;
    color:#999;
    height:40px;
    line-height: 40px;
}
.lf_demand-address{
    display:block;
    float:left;
    width:20px;
    height:100%;
    background: url("../images/icont_site.png") no-repeat center left;
}
.lf_demand-content>li>.lf_jump:hover .lf_demand-address{
    background: url("../images/icont_site1.png") no-repeat center left;
}
.lf_moreDemand{
    width:1200px;
    margin:0 auto;
    text-align:center;
    padding:14px 0 50px;
}
.lf_moreDemand>input{
    width:126px;
    height:38px;
    border:1px solid #999;
    font-size:14px;
    color:#666;
    cursor:pointer;
    border-radius: 10px;
}
.lf_joinIn{
    width:100%;
    background-color: #fff;
    padding:24px 0 34px;
}
.lf_joinInwrap{
    width:1200px;
    margin:0 auto;
}
.lf_joinInwrap img{
    display: block;
    width:100%;
    height:95px;
}
/* 辅材街_商品 */
.lf_materialPrice{
    color:#ff910e;
    font-size:16px;
    padding:18px 0 14px;
}
.lf_materialDescript{
    font-size:14px;
    color:#333;
}
.lf_materialShop{
    padding-top:16px;
    font-size:14px;
    color:#666;
    line-height: 20px
}
.lf_material-shopname{
    height:20px;
    line-height:20px;
}
.lf_material-shopname>img{
    display:block;
    float:left;
    width:10px;
    height:13px;
    margin-top:4px;
    margin-right:6px;
}
.lf_material-shopname>a{
    color:#666;
    text-decoration: underline;
}
/* 店铺模板一 */
.lf_modelShop{
    width:100%;
    background-color: #000;
    padding:36px 0;
}
.lf_modelShopbrief{
    width:1200px;
    margin:0 auto;
}
.lf_modelShoplogo{
    display:block;
    float:left;
    width:270px;
    height:66px;
    margin-right:60px;
}
.lf_modelshopName{
    font-size:38px;
    width:540px;
    height:66px;
    line-height: 40px;
    font-weight: bolder;
    color:#fff;
    float:left;
    text-align: center;
    background:url("../images/lf_model07.png") no-repeat center bottom;
}
.lf_modelNav{
    float:left;
    padding:16px 0;
    height:34px;
}
.lf_modelNavList>li:nth-child(1){
    width:118px;
    height:34px;
    line-height: 34px;
    text-align: center;
    margin-right:12px;
    float:left;
    font-size:18px;
    font-weight: bolder;
}
.lf_modelNavList>li:nth-child(1):hover{
    background-color: #fff;
}
.lf_modelNavList>li>.lf_jump{
    color:#fff;
}
.lf_modelNavList>li:nth-child(2){
    padding:0 100px 0 20px;
    float:left;
    line-height: 34px;
    font-size:18px;
    font-weight: bolder;
    position:relative;
}
.lf_modelNavList>li:nth-child(2):hover{
     background: #fff url("../images/lf_model01.png") no-repeat 140px center;
}
.lf_modelNavList>li:hover .lf_jump{
    color:#000;
}
.lf_modelsecondNav{
    position:absolute;
    top:34px;
    left:0;
    background-color: #f6f6f6;
    z-index:10;
}
.lf_modelsecondNav{
    width:100%;
    display:none;
}
.lf_modelsecondNav>li{
    padding-left:20px;
    width:172px;
    height:30px;
    line-height: 30px;
    font-size:14px;
    color:#333;
    font-weight: normal;
    cursor:pointer;
    position:relative;
}
.lf_modelsecondNav>li:hover{
    background-color: #333333;
}
.lf_modelsecondNav>li:hover a{
    color:#fff;
}
.lf_modelNavList>li:nth-child(2):hover .lf_modelsecondNav{
    display:block;
}
.lf_modelsecondNav>li:hover .lf_modelthirdNav{
    display:block;
}
.lf_modelthirdNav{
    width:400px;
    position: absolute;
    top:0;
    left:-420px;
    padding:0 10px;
    background-color: #5b5b5b;
    z-index:10;
    display:none;
}
.lf_modelthirdNav>a{
    display:block;
    width:132px;
    text-align: center;
    height:30px;
    color:#fff;
    font-size:14px;
    float:left;
}
.lf_modelbanner{
    width:100%;
}
.lf_modelbanner img{
    display:block;
    width:100%;
    height:465px;
}
.lf_modelGoods{
    background-color:#d6d6d6;
    padding-bottom:60px;
}
.lf_modelGoodsBox{
    width:1200px;
    margin:0 auto;
}
.lf_modelGoodsBox-title{
    padding:24px 42px;
    background: -webkit-linear-gradient(left top, #277fb7, #154968); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #277fb7, #154968); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #277fb7, #154968); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #277fb7, #154968); /* 标准的语法 */
    margin-bottom:20px;
}
.lf_ourShopsearch{
    display:block;
    float:left;
    height:36px;
    line-height:36px;
    font-size:20px;
    color:#fff;
    width:112px;
}
.lf_ourShopsearch-input{
    display:block;
    float:left;
    width:420px;
    height:36px;
    padding:0 10px;
    background-color: #fff;
}
.lf_searchPrice{
    margin-left:8px;
    height:36px;
    line-height: 36px;
    font-size:16px;
    color:#fff;
}
.lf_searchPricetxt{
    display:block;
    float:left;
    width:66px;
    text-align: center;
}
.lf_searchPrice-input{
    float:left;
    height:36px;
    line-height: 36px;
}
.lf_searchPrice-input>label{
    display:block;
    float:left;
    width:80px;
    height:100%;
    background-color: #fff;
    color:#185172;
    font-size:18px;
}
.lf_searchPrice-input>label>span{
    display:block;
    float:left;
    width:22px;
    text-align:center;
}
.lf_searchPrice-input>label>input{
    display:block;
    float:left;
    height:100%;
    width:50px;
    padding-right:8px;
}
.lf_searchPrice-input>span{
    display:block;
    float:left;
    font-size:16px;
    color:#fff;
    width:36px;
    text-align: center;
}
.lf_searchBtn{
    display:block;
    float:left;
    margin-left:40px;
    font-size:16px;
    color:#fff;
    height:36px;
    width:80px;
    background-color: #333;
}
.lf_modelGoodsCon{
    padding-bottom: 20px
}
.lf_modelGoodsCon-title{
    padding:20px 20px 20px 52px;
    background-color: #fff;
    margin-bottom:20px;
}
.lf_modelShophot{
    display:block;
    float:left;
    width:342px;
    height:40px;
}
.lf_notPrice{
    display:block;
    width:212px;
    height:20px;
    margin-top:20px;
}
ul.lf_modelGoodsConlist{
    padding:20px 20px 0;
    background-color: #fff;
    -webkit-justify-content:space-between;
    -moz-box-pack:space-between;
    -webkit--moz-box-pack:space-between;
    box-pack:space-between;
    justify-content:space-between;
}
.lf_modelGoodsConlist>li{
    width:280px;
    height:380px;
    margin-bottom:20px;
}
.lf_modelGoodsConitem>.lf_jump{
    height:280px;
}
.lf_modelGoodsConitem>.lf_jump>img{
    display:block;
    width:278px;
    height:278px;
    border:1px solid #1b5b80;
}
.lf_modelGoodsDescript .lf_modelGoods-descript{
    padding:10px;
    background-color:#1b5b80;
    font-size:18px;
    color:#fff;
}
.lf_modelGoods-descript p{
    height:50px; 
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    line-height:25px;
}
.lf_modelGoodsBtn{
    height:30px;
    line-height:30px;
    overflow:hidden;
}
.lf_modelGoodsBtn>p{
    float:left;
    width:50%;
    text-align: center;
    font-size:18px;
    color:#fff;
    background-color: #000;
}
.lf_modelGoodsBtn>p>span{
    font-size:22px;
    color:#ff0;
}
.lf_modelGoodsBtn>p>span>em{
    font-size:20px;
}
.lf_modelGoodsBtn>button{
    display:block;
    float:left;
    background-color: #7d0000;
    font-size:20px;
    color:#fff;
    width:50%;
    height:30px;
    padding:0;
}
/* 店铺模板二*/
.lf_templateSearch{
    width:100%;
    background-color: #000
}
.lf_templateSearchTitle{
    width:1200px;
    margin:0 auto;
    height:140px;
}
.lf_templateSearchTitle>img{
    display:block;
    float:left;
    width:612px;
    height:140px;
}
.lf_templateSearch-input{
    float:left;
    margin-left:64px;
    padding:52px 0;
}
.lf_templateSearch-input>input{
    display:block;
    float:left;
    background-color: #e6e6e6;
    height:36px;
    width:400px;
    padding:0 20px;
}
.lf_templateSearch-input>button{
    display:block;
    float:left;
    padding:0;
    height:36px;
    color:#000;
    font-size:16px;
    background-color: #fac03d;
    width:80px;
}
.lf_templateNav{
    width:100%;
    height:30px;
    background:url("../images/lf_bg.png") repeat;
    border-bottom:1px solid #fff;
}
.lf_templateNavList{
    width:1200px;
    margin:0 auto;
    height:30px;
}
.lf_templateNavList>li{
    float:left;
    font-size:16px;
    height:30px;
    line-height: 30px;    
}
.lf_templateNavList>li:nth-child(1){
    padding:0 60px 0 32px;
    position:relative;
}
.lf_templateNavList>li:nth-child(2){
    padding:0 40px;
}
.lf_templateNavList>li>.lf_jump{
    color:#171717;
}
.lf_templateNavList>li:hover{
    background-color:#fac03d;
}
.lf_templateNavList>li:nth-child(1):hover{
    background:#fac03d url("../images/lf_template02.png") no-repeat 120px center;
}
.lf_templatecondNav{
    display:none;
    position:absolute;
    background-color: #e4b03a;
    color:#333;
    font-size:14px;
    top:31px;
    left:0;
    width:100%;
    z-index:10;
}
.lf_templatecondNav>li{
    position:relative;
    padding-left:32px;
    height:30px;
    line-height: 30px;
}
.lf_templateNavList>li:nth-child(1):hover .lf_templatecondNav{
    display:block;
}
.lf_templatecondNav>li:hover{
    background-color: #333;
}
.lf_templatecondNav>li:hover a{
    color:#fff;
}
.lf_templatethirdNav{
    display:none;
    background-color: #3e3e3e;
    width:100px;
    position:absolute;
    top:0;
    right:-420px;
    padding:0 10px;
    width:400px;
    z-index:10;
}
.lf_templatethirdNav>a{
    display:block;
    width:132px;
    text-align: center;
    height:30px;
    color:#fff;
    font-size:14px;
    float:left;

}
.lf_templatecondNav>li:hover .lf_templatethirdNav{
    display:block;
}
.lf_templatebanner img{
    display:block;
    width:100%;
    height:430px;
}
.lf_templateGoods{
    width:100%;
    background:url("../images/lf_bg2.png") repeat;
    padding:38px 0 64px;
}
.lf_templateShowpic{
    padding:30px 0 60px;
    width:1200px;
    margin:0 auto;
    background:url("../images/lf_aoline.png") no-repeat top center;
}
.lf_templateShowpic>.lf_jump{
    background-color: #0e0e0e;
    padding:16px 14px;
    margin-right:10px;
}
.lf_templateShowpic>.lf_jump>img{
    display:block;
    height:444px;
    width:763px;
}
.lf_templateShowpicRight>.lf_jump{
    background-color: #0e0e0e;
    padding:16px 14px;
}
.lf_templateShowpicRight>.lf_jump:nth-child(1){
    margin-bottom:12px;
}
.lf_templateShowpicRight>.lf_jump>img{
    display:block;
    width:369px;
    height:200px;
}
.lf_templateGoodsBox-title{
    width:100%;
    background-color: #0e0e0e;
    height:130px;
}
.lf_templateGoodsBox-titlewrap{
    width:1200px;
    margin:0 auto;
}
.lf_templateGoodsBox-titlewrap>img{
    display:block;
    width:366px;
    height:130px;
}
ul.lf_templateGoodslist{
    width:1200px;
    margin:0 auto;
    padding-top:30px;
    -webkit-justify-content:flex-start;
    -moz-box-pack:flex-start;
    -webkit--moz-box-pack:flex-start;
    box-pack:flex-start;
    justify-content:flex-start;
}
.lf_templateGoodslist>li{
    width:278px;
    height:490px;
    padding-right:26px;
    margin-bottom:30px;
    background:url("../images/lf_aoline.png") no-repeat bottom center;
}
.lf_templateGoodslist>li>.lf_jump{
    height:380px;
}
.lf_templateGoodslist>li>.lf_jump>img{
    display:block;
    width:280px;
    height:380px;
}
.lf_template{
    padding-top:12px;
}
.lf_template>p{
    font-size:16px;
    color:#000;
    height:28px;
    width:100%;
    line-height:28px;
    border-top:1px dashed #c7c7c7;
    border-bottom:1px dashed #c7c7c7;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.lf_templateBtn{
    padding-top:10px;
}
.lf_templateBtn>p{
    font-size:14px;
    color:#000;
}
.lf_templateBtn>p>span{
    font-size:24px;
    color:#ce0f0f;
    font-weight: bolder;
}
.lf_templateBtn>button{
    display:block;
    width:80px;
    height:22px;
    float:right;
    background-color: #ce0f0f;
    font-size:12px;
    color:#fff;
    margin-top: 5px
}
/*店铺模板三*/
.lf_moldbanner{
	width:100%;
}
.lf_moldbanner img{
	display:block;
	width:100%;
	height:500px;
}
.lf_moldGoods{
	background-color:#eeeeee;
	padding:22px 0 18px;
}
.lf_moldShow{
	width:1200px;
	padding-bottom:22px;
	margin:0 auto;
}
.lf_moldShow>.lf_jump{
	float:left;
	margin-right:20px
}
.lf_moldShow>.lf_jump>img{
	display:block;
	width:640px;
	height:397px;
}
div.lf_moldShowright{
	width:540px;
	float:left;
	-webkit-justify-content:space-between;
    -moz-box-pack:space-between;
    -webkit--moz-box-pack:space-between;
    box-pack:space-between;
    justify-content:space-between;
}
.lf_moldShowright>.lf_jump{
	width:260px;
	height:195px;
	margin-bottom:5px;
}
.lf_moldShowright>.lf_jump>img{
	display:block;
	width:260px;
	height:195px;
}
.lf_moldNew{
	width:100%;
	padding-bottom:65px;
	background-color:#fff;
}
.lf_moldNewwrap{
	width:1200px;
	margin:0 auto;
}
.lf_moldNewwrap-title{
	width:100%;
	height:87px;
}
.lf_moldNewwrap-title>img{
	display:block;
	width:87px;
	height:87px;
}
.lf_moldNewwrapCon{
	padding-top:28px;
	height:905px;
	background:url("../images/lf_mold08.png") no-repeat center 105px;
}
.lf_moldNew-top{
	margin-bottom:100px
}
.lf_moldNew-top>.lf_jump{
	float:left;
	margin-left:135px;
	width:562px;
	height:392px;
}
.lf_moldNew-top>.lf_jump>img{
	display:block;
	width:562px;
	height:392px;
}
.lf_moldNewCon{
	margin-left:135px;
}
.lf_moldNewCon>img{
	display:block;
	width:338px;
	height:98px;
}
.lf_moldNew-safe{
	padding-left:18px;
	padding-top:2px;
}
.lf_mold-safe{
	height:32px;
	line-height:32px;
	color:#333;
	font-size:12px;
}
.lf_mold-safe>span{
	color:#a75422;
}
.lf_mold-des{
	width:208px;
	height:23px;
	text-align:center;
	border:1px solid #a5a5a5;
	font-size:16px;
	color:#000
}
.lf_moldNewprice{
	font-size:14px;
	color:#000;
	font-weight:bolder;
	padding-top:5px;
}
.lf_moldNewprice>span{
	font-size:30px;
	color:#a75422;
}
.lf_moldNewprice>span>em{
	font-size:16px;
}
.lf_moldGoodsList{
	width:1200px;
	margin:0 auto;
}
.lf_moldGoodsList-title{
	padding-bottom:30px;
}
.lf_moldGoodsList-title>img{
	display:block;
	width:87px;
	height:87px;
}
ul.lf_moldList{
	-webkit-justify-content:space-between;
    -moz-box-pack:space-between;
    -webkit--moz-box-pack:space-between;
    box-pack:space-between;
    justify-content:space-between;
}
.lf_moldList>li{
	width:290px;
	height:350px;
	margin-bottom:30px;
	position:relative;
}
.lf_moldList>li>.lf_jump{
	padding:4px;
	border:1px solid #a5a5a5;
	height:336px;
	background-color:#fff
}
.lf_moldList>li>.lf_jump>img{
	display:block;
	width:280px;
	height:260px;
}
.lf_moldList>li>.lf_moldBtn{
	display:block;
	position:absolute;
	width:280px;
	height:28px;
	color:#fff;
	font-size:14px;
	background-color: #000;
	z-index:9;
	bottom:0px;
	left:5px;
}
.lf_moldGoods-des{
	margin-top:3px;
	height:26px;
	line-height:26px;
	color:#221815;
	font-size:14px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.lf_moldgoodsPrice{
	text-align:right;
	font-size:12px;
	color:#000;
	font-weight:bolder;
}
.lf_moldgoodsPrice>span{
	font-size:22px;
	color:#a75422;
}
.lf_moldgoodsPrice>span>em{
	font-size:12px;
}
