/*
* @Author: Administrator
* @Date:   2017-07-11 17:27:19
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-17 18:29:51
*/
.lf_jump{
	display:block;
	height:100%;
}
.lf_left{
	float:left;
}
.lf_right{
	float:right;
}
.lf_borderBox{
	-moz-box-sizing: border-box; /*Firefox3.5+*/ 
	-webkit-box-sizing: border-box; /*Safari3.2+*/ 
	-o-box-sizing: border-box; /*Opera9.6*/ 
	-ms-box-sizing: border-box; /*IE8*/ 
	box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
}
.lf_clearFloat:after{
	content:".";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
.lf_displayFlex{
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Chrome */ 
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -moz-box-orient:horizontal;
    -moz-box-direction:reverse;
    -webkit-flex-direction:row;
    flex-direction:row;/* 元素排列方式 */
    -webkit-justify-content:space-around;
    -moz-box-pack:space-around;
    -webkit--moz-box-pack:space-around;
    box-pack:space-around;
    justify-content:space-around;
    -webkit-flex-wrap:wrap;
    -webkit-box-lines:multiple;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;/* 定义子元素换行情况 */
}
a{
    color:#333;
}
body{
    font-size:14px;
    color:#333;
}
select{
    background:0;
    border:0;
}
button{
    cursor:pointer;
}
/* 公共样式 */
/* 首页头部 */
.lf_indexNav>li{
    float:left;
    padding:23px 0;
    margin-left:34px;
}
.lf_indexNav>li img{
    display:block;
    width:29px;
    height:29px;
    margin:0 auto 2px;
}
.lf_indexNav>li span{
    display:block;
    text-align:center;
    font-size:14px;
    color:#999;
}
/* 首页-body */
.lf_banner{
    width:100%;
    background-color:#181e2a;
}
.lf_bannerWraper{
    width:1200px;
    margin:0 auto;
    height:420px;
    overflow:hidden;
}
.lf_bannerWraper img{
    display:block;
    width:100%;
}
/* 首页-免费发布及我要开店  */
.lf_indexnumDetail{
    width:100%;
    background-color: #363945;
    padding:20px 0;
}
.lf_indexnumDetailwrap{
    width:1200px;
    margin:0 auto;
}
.lf_indexnumDetailwrap>ul{
    width:920px;   
}
.lf_indexNumber{
    height:82px;
    line-height: 82px;
    overflow:hidden;
}
.lf_indexNumber>img{
    display:block;
    float:left;
    margin-top:26px;
}
.lf_indexNumber>span{
    display:block;
    float:left;
    font-weight:bolder;
    font-size:28px;
    color:#fff;
    padding-left:20px;
}
.lf_numdescript{
    font-size:14px;
    color:#fff;
    text-align: center;
}
.lf_indexBtns>button{
    display:block;
    width:210px;
    height:42px;
    color:#fff;
    border-radius:5px;
    font-size:18px;
}
.lf_indexBtns>button.lf_freeBtn{
    background-color:#3c8fed;
    margin-bottom:16px;
}
.lf_indexBtns>button.lf_openBtn{
    background-color:#ff910e;
}
/* 首页 商品列表 */
.lf_indexGoods{
    width:100%;
    background-color: #fff
}
.lf_indexGoodsbox{
    width:1200px;
    margin:0 auto;
    padding-top:20px;
}
.lf_indexGoodsbox-title{
    width:100%;
    border-bottom:3px solid #e6e6e6;
    height:60px;
    line-height: 60px
}
.lf_indexGoodsbox-title li{
    height:100%;
    border-bottom:3px solid #e6e6e6;
    float:left;
    position:relative;
    bottom:-3px;
    margin-right:74px;
    font-size:20px;
    color:#999;
    cursor:pointer;
}
.lf_indexGoodsbox-title .lf_indexListon{
    border-bottom:3px solid #3c8fed;
    color:#3c8fed;
}
.lf_indexGoodsbox-con{
    padding:20px 0 0;
}
.lf_indexGoodsbox-con .lf_indexGoodsCon{
    display:none;
}
.lf_indexGoodsbox-con .lf_indexGoodsCon-on{
    display:block;
}
.lf_indexGoodsCon li{
    float:left;
    width:280px;
    height:402px;
    border:1px solid #e6e6e6;
    background-color: #fff;
    padding:20px 20px 0;
    overflow:hidden;
    position:relative;
    margin-right:26px;
    margin-bottom:20px;
}
.lf_indexGoodsCon li:hover{
    border:1px solid #3c8fed;
    background-color: #f5f9ff;
}
.lf_indexGoodsCon li>.lf_jump{
    height:244px;
}
.lf_indexGoodsCon li>a>img{
    display:block;
    width:238px;
    height:242px;
    border:1px solid #e6e6e6;
}
.lf_indexGoodsDetail-title{
    padding:16px 0 6px;
}
.lf_indexGoodsDetail-title>h2{
    font-size:16px;
    color:#333333;
}
.lf_indexStar{
    width:94px;
    text-align-last: justify;
}
.lf_indexService{
    line-height:28px;
    font-size:14px;
}
.lf_indexService i{
     color:#999;
}
.lf_indexService span{
     color:#333;
     padding-left:10px;
}
.lf_indexConnect{
    display:block;
    position:absolute;
    bottom:20px;
    right:20px;
    width:58px;
    color:#fff;
    background-color: #3c8fed;
    border-radius:5px;
    padding:5px 0;
}
.lf_indexToshop{
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    width:278px;
    color:#fff;
    background-color: #3c8fed;
    border-radius:3px;
    font-size:16px;
    padding:6px 0;
}
/* 广告 */
.lf_indexAdv{
    width:1200px;
    padding:10px 0 30px;
    margin:0 auto;
}
.lf_indexAdv>ul>li{
    width:590px;
    position:relative;
}
.lf_indexAdv>ul>li img{
    display:block;
    width:590px;
    height:90px;
}
.lf_advbtn{
    display:block;
    position: absolute;
    right:2px;
    bottom:2px;
    padding:3px 8px;
    color:#fff;
    font-size:12px;
    background-color: #717481
}
/* 需求 */
.lf_demand{
    width:100%;
}
.lf_demandTitle{
    width:100%;
    height:84px;
    background:url("../images/lf_qbg.png") no-repeat center top;
}
.lf_demandTitlewrap{
    width:1200px;
    margin:0 auto;
    height:44px;
    padding:20px 0;
    background:url("../images/lf_qbg2.png") no-repeat center top;
}
.lf_demandTitlewrap>ul{
    height:44px;
    background:url("../images/lf_ulbg.png") no-repeat center top;
    line-height: 44px;
    overflow:hidden;
}
.lf_demandTitlewrap>ul>li{
    font-size:16px;
    color:#fff;
    float:left;
}
.lf_demandQ{
    padding-left:20px;
    margin-right:166px;
}
.lf_demandTitlewrap>ul>li.lf_demandA{
    font-size:14px;
    width:155px;
}
/* 热门需求 */
.lf_demandBox{
    background-color:#f1f1f1;
    width:100%;
}
.lf_demandBoxwrap{
    width:1200px;
    margin:0 auto;
}
.lf_demand-title{
    font-size:24px;
    height:96px;
    line-height: 96px;
    color:#333;
    text-align: center;
}
.lf_demand-content{
    -webkit-justify-content:space-between;
    -moz-box-pack:space-between;
    -webkit--moz-box-pack:space-between;
    box-pack:space-between;
    justify-content:space-between;
}
.lf_demand-content>li{
    width:390px;  
    margin-bottom: 20px;
}
.lf_demand-content>li>.lf_jump{
    border:1px solid #fff;
    width:100%;
    padding:24px 30px;
    background:#fff url("../images/lf_blueLine.png") no-repeat left 24px;
}
.lf_demand-content>li>.lf_jump:hover{
    background:#f5f9ff url("../images/lf_blueLine.png") no-repeat left 24px;
    border:1px solid #3c8fed;
}
.lf_demandCon-title{
    font-size: 16px;
    color:#333;
    height:20px;
    line-height:20px;
}
.lf_tender{
    height:60px;
    line-height: 60px;
    border-bottom:1px solid #e6e6e6;
}
.lf_tender>.lf_left{
    font-size: 14px;
    color:#de352f;
}
.lf_tender>.lf_left>span{
    font-size:18px;
}
.lf_tender>.lf_right{
    font-size:14px;
    color:#999;
}
.lf_demandSource{
    padding-top:20px;
}
.lf_demandSource>img{
    display:block;
    float:left;
    height:38px;
    width:38px;
    border:1px solid #e6e6e6;
}
.lf_demandShop{
    height:40px;
    line-height: 40px;
    font-size: 14px;
    color:#999;
    padding-left:20px;
}
.lf_demandShop>span{
    color:#333;
}
.lf_demandAddress{
    font-size:14px;
    color:#999;
    height:40px;
    line-height: 40px;
}
.lf_demand-address{
    display:block;
    float:left;
    width:20px;
    height:100%;
    background: url("../images/icont_site.png") no-repeat center left;
}
.lf_demand-content>li>.lf_jump:hover .lf_demand-address{
    background: url("../images/icont_site1.png") no-repeat center left;
}
.lf_moreDemand{
    width:1200px;
    margin:0 auto;
    text-align:center;
    padding:14px 0 50px;
}
.lf_moreDemand>input{
    width:126px;
    height:38px;
    border:1px solid #999;
    font-size:14px;
    color:#666;
    cursor:pointer;
    border-radius: 10px;
}
.lf_joinIn{
    width:100%;
    background-color: #fff;
    padding:24px 0 34px;
}
.lf_joinInwrap{
    width:1200px;
    margin:0 auto;
}
.lf_joinInwrap img{
    display: block;
    width:100%;
    height:95px;
}
/* 辅材街_商品 */
.lf_materialPrice{
    color:#ff910e;
    font-size:16px;
    padding:18px 0 14px;
}
.lf_materialDescript{
    font-size:14px;
    color:#333;
}
.lf_materialShop{
    padding-top:16px;
    font-size:14px;
    color:#666;
    line-height: 20px
}
.lf_material-shopname{
    height:20px;
    line-height:20px;
}
.lf_material-shopname>img{
    display:block;
    float:left;
    width:10px;
    height:13px;
    margin-top:4px;
    margin-right:6px;
}
.lf_material-shopname>a{
    color:#666;
    text-decoration: underline;
}