*{
	margin: 0;
	padding: 0;
	border: 0;
}
p,a,li,h1,h2,h3,h4,h5,span{
	font-family: "微软雅黑";
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*安装团队详情*/
.zpf_ins_wrap{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.zpf_ins_head{
	width: 100%;
	height: 53px;
	overflow: hidden;
}
.zpf_ins_head p{
	font-size: 14px;
	color: #999;
	line-height: 53px;
}
.zpf_ins_cont{
	width: 100%;
	height: 378px;
}
.zpf_ins_cont_left{
	width: 899px;
	height: 376px;
	border: 1px #e6e6e6 solid;
	background: #ffffff;
	float: left;
}
.zpf_ins_cont_l_o{
	width: 100%;
	height: 70px;
	border-bottom: 1px #e6e6e6 dashed;
}
.zpf_ins_cont_l_o h5{
	font-size: 22px;
	font-weight: 100;
	padding-left: 30px;
	line-height: 70px;
}
.zpf_ins_cont_l_t{
	width: 100%;
	height: 42px;
	overflow: hidden;
}
.zpf_ins_cont_l_t p{
	display: block;
	width: 100px;
	height: 15px;
	font-size: 14px;
	margin-top: 24px;
	color: #999999;
	text-align: right;
	float: left;
}
.zpf_ins_cont_t_o{
	width: auto;
	margin-top: 26px;
	height: 15px;
	margin-left: 5px;
	float: left;
}
.zpf_ins_cont_t_o p{
	font-size: 14px;
	margin-top: 0;
	text-align: left;
	color: black;
}
.zpf_ins_cont_l_s{
	width: 287px;
	height: 50px;
	margin-top: 23px;
	margin-left: 30px;
	background: #3c8fed;
	cursor: pointer;
	overflow: hidden;
}
.zpf_ins_cont_l_s img{
	display: block;
	margin-left: 50px;
	margin-top: 13px;
	float: left;
}
.zpf_ins_cont_l_s p{
	float: left;
	font-size: 20px;
	color: white;
	line-height: 50px;
	padding-left: 40px;
}
.zpf_ins_cont_right{
	width: 279px;
	height: 376px;
	border: 1px #e6e6e6 solid;
	background: #ffffff;
	float: right;
}
.zpf_ins_cont_r_o{
	width: 240px;
	height: 250px;
	border-bottom: 1px #e6e6e6 dashed;
	margin: 0 auto;
	overflow: hidden;
}
.zpf_ins_cont_r_o img{
	display: block;
	margin: 35px auto 20px auto;
}
.zpf_ins_cont_r_o p{
	font-size: 18px;
	color: #666;
	text-align: center;
}
.zpf_ins_cont_r_t{
	width: 240px;
	height: 50px;
	margin: 20px auto 0 auto;
}
.zpf_ins_cont_r_t_l{
	width: 50%;
	height: 50px;
	border-right: 1px #e6e6e6 solid;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
}
.zpf_ins_cont_r_t_l h5{
	font-size: 24px;
	color: #3c8fed;
	text-align: center;

}
.zpf_ins_cont_r_t_l p{
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-top: 2px;
}
.zpf_ins_cont_r_t_r{
	width: 50%;
	height: 50px;
	float: left;
}
.zpf_ins_cont_r_t_r img{
	display: block;
	margin: 3px auto 0 auto;
}
.zpf_ins_cont_r_t_r p{
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-top: 2px;
}
.zpf_ins_main{
	width: 100%;
	height: 314px;
	margin: 30px auto 55px auto;
	background: white;
}
.zpf_ins_main_o{
	width: 100%;
	height: 30px;
	background: #e6e6e6;
}
.zpf_ins_main_o p{
	font-size: 14px;
	color: #999;
	line-height: 30px;
	padding-left: 30px;
}
.zpf_ins_main_t{
	width: 901px;
    height: 376px;
}
.zpf_ins_main_t h5{
	display: block;
	width: 100%;
    height: 70px;
    border-bottom: 1px #e6e6e6 dashed;
    font-size: 22px;
    font-weight: 100;
    text-indent: 30px;
    line-height: 70px;
}
.zpf_ins_main_t p{
	font-size: 14px;
	color: #666;
	padding-left: 30px;
	line-height: 35px;
}
.zpf_ins_main_t p:nth-child(2){
	margin-top: 15px;
}


/*搜索店铺列表*/
.zpf_ser_wrap{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.zpf_ser_main{
	width: 100%;
	height: 127px;
	border: 1px #e6e6e6 solid;
	box-sizing: border-box;
	margin-top: 8px;
	overflow: hidden;
}
.zpf_ser_main:nth-child(3){
	margin-top: 30px;
}
.zpf_ser_main:nth-last-child(1){
	margin-bottom: 30px;
}
.zpf_ser_main_left{
	width: 100px;
	height: 127px;
	float: left;
}
.zpf_ser_main_left img{
	float: right;
	margin-top: 23px;
}
.zpf_ser_main_center{
	width: calc(100% - 345px);
	height: 127px;
	float: left;
}
.zpf_ser_main_center p{
	font-size: 14px;
	color: #666;
	padding-left: 30px;
	line-height: 25px;
}
.zpf_ser_main_center p:nth-child(1){
	font-size: 16px;
	margin-top: 25px;
	color: #463832;
}
.zpf_ser_main_right{
	width: 245px;
	height: 127px;
	float: left;
}
.zpf_ser_main_right input[type=button]{
	display: block;
	width: 182px;
	height: 28px;
	border: 0;
	background: #3c8fed;
	font-size: 14px;
	color: white;
	line-height: 28px;
	text-align: center;
	margin-top: 50px;
	cursor: pointer;
}


/*消息*/
.zpf_new_wrap{
	width: 1200px;
	height: 730px;
	background: white;
	margin: 30px auto 80px auto;
	border: 1px #e6e6e6 solid;
}
.zpf_new_wrap_left{
	width: 210px;
	height: 730px;
	border-right: 1px #e6e6e6 solid;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
}
.zpf_new_wrap_left ul{
	width: 100%;
	height: auto;
	margin-top: 25px;
	overflow: hidden;
}
.zpf_new_wrap_left ul li{
	display: block;
	width: 100%;
	height: 59px;
	cursor: pointer;
}
.zpf_new_wrap_left img{
	display: block;
	margin-left: 30px;
	margin-top: 14px;
	float: left;
}
.zpf_new_wrap_left p{
	font-size: 16px;
	color: #999999;
	line-height: 53px;
	padding-left: 10px;
	float: left;
}
.zpf_new_wrap_active{
	color: #3C8FED !important;
}
.zpf_new_wrap_left input[type=button]{
	display: block;
	width: 28px;
	height: 14px;
	border: 0;
	background: #de352f;
	border-radius: 6px;
	font-size: 12px;
	color: white;
	line-height: 14px;
	text-align: center;
	margin-top: 21px;
	margin-left: 8px;
	float: left;
}
.zpf_new_wrap_right{
	width: calc(100% - 210px);
	height: 730px;
	overflow: hidden;
	float: left;
}
.zpf_new_main{
	width: 95%;
	height: 730px;
	margin: 0 auto;
}
.zpf_new_main_top{
	width: 100%;
	height: 69px;
	border-bottom: 1px #e6e6e6 dashed;
	overflow: hidden;
}
.zpf_new_main_top h5{
	font-size: 18px;
	height: 34px;
	color: #333;
	margin-top: 32px;
	font-weight: bold;
	cursor: pointer;
	float: left;
}
.zpf_news_main_active{
	color: #3c8fed !important;
	border-bottom: 3px #3c8fed solid;
}
.zpf_new_main_top span{
	float: right;
	font-weight: 100;
	font-size: 16px;
	color: #666666;
	cursor: pointer;
}
.zpf_new_main_cont{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.zpf_new_main_c_o{
	width: 100%;
	height: 64px;
	overflow: hidden;
}
.zpf_new_main_c_o p{
	height: 20px;
	font-size: 16px;
	color: #666666;
	border-left: 4px #bfbfbf solid;
	margin-top: 25px;
	padding-left: 16px;
	line-height: 23px;
	float: left;
}
.zpf_news_active{
	border-left: 4px #3c8fed solid !important;
}
.zpf_new_main_c_o span{
	margin-left: 581px;
}
.zpf_new_main_c_t{
	width: 100%;
	height: auto;
	background: #f8f8f8;
	overflow: hidden;
}
.zpf_new_main_c_t p{
	font-size: 14px;
	color: #666666;
	padding:0 20px ;
	line-height: 23px;
	margin-top: 10px;
}
.zpf_new_main_c_t a{
	display: block;
	font-size: 14px;
	color: #3c8fed;
	padding:0 20px ;
	margin: 10px 0 20px 0;
}
.zpf_new_main_footer{
	width: auto;
	height: auto;
	margin-top: 34px;
	overflow: hidden;
	float: right;
}
.zpf_new_main_footer input[type=button]{
	display: block;
	width: 26px;
	height: 28px;
	border: 1px #e6e6e6 solid;
	font-size: 14px;
	color: #999999;
	line-height: 28px;
	text-align: center;
	margin-left: 12px;
	cursor: pointer;
	float: left;
}
.zpf_new_main_footer input[type=button]:nth-last-child(1){
	width: 56px;
}
.zpf_new_main_active{
	color: #2e62ad !important;
}
.zpf_news_del{
	display: block;
	width: 78px;
	height: 22px;
	border: 1px #bfbfbf solid;
	background: #ff5d0e;
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 22px;
	border-radius: 3px;
	margin-top: 34px;
	margin-left: 606px;
	cursor: pointer;
	float: left;
}
.zpf_news_qx{
	display: block;
	width: 48px;
	height: 22px;
	border: 1px #c3c3c3 solid;
	background: #ededed;
	font-size: 14px;
	color: #666666;
	line-height: 22px;
	text-align: center;
	margin-top: 34px;
	margin-left: 24px;
	border-radius: 3px;
	cursor: pointer;
	float: left;
}
.zpf_news_main_head{
	width: 100%;
	height: 69px;
	border-bottom: 1px #e6e6e6 dashed;
	overflow: hidden;
}
.zpf_news_main_head h5{
	font-size: 18px;
	color: #333;
	margin-top: 32px;
	font-weight: bold;
}
.zpf_news_main_head span{
	float: right;
	font-weight: 100;
	font-size: 16px;
	color: #666666;
	cursor: pointer;
}
.zpf_news_main_head label{
	display: block;
	float: left;
	font-size: 16px;
	color: #666666;
	margin-top: 34px;
	margin-left: 25px;
	cursor: pointer;
}
.zpf_news_main_head input[type=checkbox]{
	display: block;
	width: 14px;
	height: 14px;
	margin-top: 39px;
	margin-left: 9px;
	cursor: pointer;
	float: left;
}
.zpf_new_main_top input[type=checkbox]{
	display: block;
	width: 14px;
	height: 14px;
	margin-top: 39px;
	margin-left: 9px;
	cursor: pointer;
	float: left;
}
.zpf_new_main_c_o input[type=checkbox]{
	display: block;
	width: 14px;
	height: 14px;
	margin-top: 31px;
	margin-right: 32px;
	cursor: pointer;
	float: right;
}

/*公告*/
.zpf_notice_main_cont{
	width: 100%;
	height: auto;
	border-bottom: 1px #e6e6e6 dashed;
	overflow: hidden;
}
.zpf_notice_main_cont:nth-last-child(1){
	border-bottom: 0;
}
.zpf_notice_main_c_o{
	display: block;
	width: 100%;
	height: 64px;
	overflow: hidden;
	cursor: pointer;
}
.zpf_notice_main_c_o p{
	height: 20px;
	font-size: 16px;
	color: #666666;
	border-left: 4px #3c8fed solid;
	margin-top: 25px;
	padding-left: 16px;
	line-height: 23px;
	float: left;
}

.zpf_notice_main_c_o span{
	margin-left:470px;
}
.zpf_notice_main_c_o p:nth-child(2){
	margin-left: 272px;
}
.zpf_notice_main_zong h5{
	font-size: 16px;
	font-style: normal;
	color: #666666;
	line-height: 33px;
	margin-bottom: 22px;
	margin-top: 5px;
}
.zpf_notice_main_zong p{
	font-size: 16px;
	color: #666666;
	line-height: 33px;
	text-indent: 2em;
}
.zpf_notice_main_zong p:nth-last-child(2){
	text-align: right;
}
.zpf_notice_main_zong p:nth-last-child(1){
	text-align: right;
}
.zpf_notice_main_cont ul{
	width: 100%;
	height: 50px;
}
.zpf_notice_main_cont ul:nth-child(1){
	width: 100%;
	height: 30px;
	background: #f8f8f8;
	margin-top: 25px;
}
.zpf_notice_main_cont ul:nth-child(1) li{
	height: 30px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	border-bottom: 0;
	background: #f8f8f8;
}
.zpf_notice_main_cont ul:nth-last-child(1) li{
	border-bottom: 0;
}
.zpf_notice_main_cont ul li{
	width: auto;
	height: 50px;
	font-size: 14px;
	color: #666666;
	line-height: 50px;
	border-bottom: 1px #e6e6e6 dashed;
	float: left;
}
.zpf_notice_main_cont ul li:nth-child(3){
	width: 120px;
}
.zpf_notice_main_cont ul li:nth-child(1){
	width: 331px;
	padding-left: 30px;
}
.zpf_notice_main_cont ul li:nth-child(2){
	width: calc(100% - 481px);
}
.zpf_cont_link{
	width: 100%;
	height: auto;
	overflow: hidden;
}
